<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidProject"
        tools:targetApi="31">
        <activity
            android:name=".activity.laureate.LaureateDetailsActivity"
            android:parentActivityName=".activity.laureate.SchoolDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".activity.laureate.interest.EditInterest"
            android:exported="false"
            android:parentActivityName=".activity.laureate.interest.ListInterest" />
        <activity
            android:name=".activity.laureate.interest.AddInterest"
            android:exported="false"
            android:parentActivityName=".activity.laureate.interest.ListInterest" />
        <activity
            android:name=".activity.laureate.interest.ListInterest"
            android:exported="false"
         />
        <activity
            android:name=".activity.laureate.skill.AddSkills"
            android:exported="false"
            android:parentActivityName=".activity.laureate.skill.ListSkills" />
        <activity
            android:name=".activity.laureate.skill.EditSkills"
            android:exported="false"
            android:parentActivityName=".activity.laureate.skill.ListSkills" />
        <activity
            android:name=".activity.laureate.skill.ListSkills"
            android:exported="false"
             />
        <activity
            android:name=".activity.laureate.experience.EditExperienceActivity"
            android:parentActivityName=".activity.laureate.experience.ListExperienceActivity" />
        <activity
            android:name=".activity.laureate.experience.AddExperienceActivity"
            android:parentActivityName=".activity.laureate.experience.ListExperienceActivity" />
        <activity
            android:name=".activity.laureate.experience.ListExperienceActivity"
         />
        <activity
            android:name=".activity.laureate.EditLaureateActivity"
            android:parentActivityName=".activity.laureate.SchoolDashboardActivity" />

        <activity
            android:name=".activity.laureate.AddLaureateActivity"
            android:parentActivityName=".activity.laureate.SchoolDashboardActivity" />

        <activity
            android:name=".activity.laureate.SchoolDashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>